.Background {
  position:fixed;
  background-color:white;
  height:100%;
  width:100%;
  text-align:center;
}

.Deck {
  border-style:solid;
  position:fixed;
  top:45%;
  bottom:45%;
  left:45%;
  right:45%;
}
